@model Week_7.Models.Movie

<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<body>
    <h2>Movie Details</h2>
    <p>Movie Name: @Model.Name</p>
    <p>Rating: @Model.Rating</p>
</body>
</html>